<section class="map">
  <div class="container">
    <img src="./images/map.webp" alt="map" />

    <p class="text_top">
      Where are your users? Chose the number for every region
    </p>
    <span class="skip_users next_step visually-hidden">Next</span>
    <span class="start_test next_step visually-hidden disabled">Start</span>

    <!-- ------------------ North America ------------------ -->

    <ul class="list north-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small na-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium na-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large na-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="na-first_circle circle_empty visually-hidden" data-value="na1">
      <img
        class="na-first_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="na-first_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>
    <div class="na-second_circle circle_empty visually-hidden" data-value="na2">
      <img
        class="na-second_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="na-second_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <!-- --------------------------------------------------- -->

    <!-- ------------------ South America ------------------ -->

    <ul class="list south-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small sa-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium sa-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large sa-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->

    <!-- --------------------- Europe ---------------------- -->

    <ul class="list europe">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small eu-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium eu-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large eu-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="europe_circle circle_empty visually-hidden" data-value="eu">
      <img
        class="europe_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="europe_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <!-- --------------------------------------------------- -->

    <!-- ---------------------- Asia ----------------------- -->

    <ul class="list asia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small as-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium as-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large as-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="asia_circle circle_empty visually-hidden" data-value="as">
      <img
        class="asia_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="asia_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <!-- --------------------------------------------------- -->

    <!-- -------------------- Australia -------------------- -->

    <ul class="list australia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small au-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium au-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large au-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->
  </div>
</section>
