<section class="map">
  <div class="container">
    <img src="./images/map.webp" alt="map" />

    <!-- ------------------ North America ------------------ -->

    <ul class="list north-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small na-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium na-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large na-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->

    <!-- ------------------ South America ------------------ -->

    <ul class="list south-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small sa-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium sa-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large sa-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->

    <!-- --------------------- Europe ---------------------- -->

    <ul class="list europe">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small eu-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium eu-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large eu-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->

    <!-- ---------------------- Asia ----------------------- -->

    <ul class="list asia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small as-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium as-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large as-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->

    <!-- -------------------- Australia -------------------- -->

    <ul class="list australia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small au-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium au-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large au-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <!-- --------------------------------------------------- -->
  </div>
</section>
