<section class="map">
  <div class="container">
    <img src="./images/map.webp" alt="map" />

    <p class="text_top">
      Where are your users? Chose the number for every region
    </p>
    <span class="skip_users next_step visually-hidden">Next</span>
    <span class="start_test next_step visually-hidden disabled">Start</span>
    <span class="start_again next_step visually-hidden">start again?</span>

    <!-- ------------------ North America ------------------ -->

    <ul class="list north-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small na-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium na-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large na-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="naSmallMask small_mask"></div>
    <div class="naMediumMask medium_mask"></div>
    <div class="naLargeMask large_mask"></div>

    <p class="na_info info_time visually-hidden"></p>

    <div class="na-first_circle circle visually-hidden">
      <div class="circle_empty" data-value="na1"></div>
      <img
        class="na-first_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="na-first_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <img
      class="westNaAsiaL firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_asia_large.png"
      alt="arc_west-usa_asia_large"
    />
    <img
      class="westNaAsiaM firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_asia_medium.png"
      alt="arc_west-usa_asia_medium"
    />
    <img
      class="westNaAsiaS firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_asia_small.png"
      alt="arc_west-usa_asia_small"
    />
    <img
      class="westNaEuropeL firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_europe_large.png"
      alt="arc_west-usa_europe_large"
    />
    <img
      class="westNaEuropeM firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_europe_medium.png"
      alt="arc_west-usa_europe_medium"
    />
    <img
      class="westNaEuropeS firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_europe_small.png"
      alt="arc_west-usa_europe_small"
    />
    <img
      class="westNaNorthL firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_north-america_large.png"
      alt="arc_west-america_large"
    />
    <img
      class="westNaNorthM firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_north-america_medium.png"
      alt="arc_west-america_medium"
    />
    <img
      class="westNaNorthS firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_north-america_small.png"
      alt="arc_west-america_small"
    />
    <img
      class="westNaOceaniaL firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_oceania_large.png"
      alt="arc_west-usa_oceania_large"
    />
    <img
      class="westNaOceaniaM firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_oceania_medium.png"
      alt="arc_west-usa_oceania_medium"
    />
    <img
      class="westNaOceaniaS firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_oceania_small.png"
      alt="arc_west-usa_oceania_small"
    />
    <img
      class="westNaSouthL firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_south-america_large.png"
      alt="arc_west-america_large"
    />
    <img
      class="westNaSouthM firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_south-america_medium.png"
      alt="arc_west-america_medium"
    />
    <img
      class="westNaSouthS firstNALines visually-hidden"
      src="./images/firstNA/arc_west-usa_south-america_small.png"
      alt="arc_west-america_small"
    />

    <div class="na-second_circle circle visually-hidden">
      <div class="circle_empty" data-value="na2"></div>
      <img
        class="na-second_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="na-second_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <img
      class="eastNaAsiaL secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_asia_large.png"
      alt="arc_east-usa_asia_large"
    />
    <img
      class="eastNaAsiaM secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_asia_medium.png"
      alt="arc_east-usa_asia_medium"
    />
    <img
      class="eastNaAsiaS secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_asia_small.png"
      alt="arc_east-usa_asia_small"
    />
    <img
      class="eastNaEuropeL secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_europe_large.png"
      alt="arc_east-usa_europe_large"
    />
    <img
      class="eastNaEuropeM secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_europe_medium.png"
      alt="arc_east-usa_europe_medium"
    />
    <img
      class="eastNaEuropeS secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_europe_small.png"
      alt="arc_east-usa_europe_small"
    />
    <img
      class="eastNaNorthL secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_north-america_large.png"
      alt="arc_east-america_large"
    />
    <img
      class="eastNaNorthM secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_north-america_medium.png"
      alt="arc_east-america_medium"
    />
    <img
      class="eastNaNorthS secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_north-america_small.png"
      alt="arc_east-america_small"
    />
    <img
      class="eastNaOceaniaL secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_oceania_large.png"
      alt="arc_east-usa_oceania_large"
    />
    <img
      class="eastNaOceaniaM secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_oceania_medium.png"
      alt="arc_east-usa_oceania_medium"
    />
    <img
      class="eastNaOceaniaS secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_oceania_small.png"
      alt="arc_east-usa_oceania_small"
    />
    <img
      class="eastNaSouthL secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_south-america_large.png"
      alt="arc_east-america_large"
    />
    <img
      class="eastNaSouthM secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_south-america_medium.png"
      alt="arc_east-america_medium"
    />
    <img
      class="eastNaSouthS secondNALines visually-hidden"
      src="./images/secondNA/arc_east-usa_south-america_small.png"
      alt="arc_east-america_small"
    />

    <!-- --------------------------------------------------- -->

    <!-- ------------------ South America ------------------ -->

    <ul class="list south-america">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small sa-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium sa-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large sa-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="saSmallMask small_mask"></div>
    <div class="saMediumMask medium_mask"></div>
    <div class="saLargeMask large_mask"></div>

    <p class="sa_info info_time visually-hidden"></p>

    <!-- --------------------------------------------------- -->

    <!-- --------------------- Europe ---------------------- -->

    <ul class="list europe">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small eu-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium eu-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large eu-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="euSmallMask small_mask"></div>
    <div class="euMediumMask medium_mask"></div>
    <div class="euLargeMask large_mask"></div>

    <p class="eu_info info_time visually-hidden"></p>

    <div class="europe_circle circle visually-hidden">
      <div class="circle_empty" data-value="eu"></div>

      <img
        class="europe_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="europe_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <img
      class="germanyAsiaL europeLines visually-hidden"
      src="./images/europe/arc_germany_asia_large.png"
      alt="arc_germany_asia_large"
    />
    <img
      class="germanyAsiaM europeLines visually-hidden"
      src="./images/europe/arc_germany_asia_medium.png"
      alt="arc_germany_asia_medium"
    />
    <img
      class="germanyAsiaS europeLines visually-hidden"
      src="./images/europe/arc_germany_asia_small.png"
      alt="arc_germany_asia_small"
    />
    <img
      class="germanyEuropeL europeLines visually-hidden"
      src="./images/europe/arc_germany_europe_large.png"
      alt="arc_germany_europe_large"
    />
    <img
      class="germanyEuropeM europeLines visually-hidden"
      src="./images/europe/arc_germany_europe_medium.png"
      alt="arc_germany_europe_medium"
    />
    <img
      class="germanyEuropeS europeLines visually-hidden"
      src="./images/europe/arc_germany_europe_small.png"
      alt="arc_germany_europe_small"
    />
    <img
      class="germanyNorthL europeLines visually-hidden"
      src="./images/europe/arc_germany_north-america_large.png"
      alt="arc_germany_north-america_large"
    />
    <img
      class="germanyNorthM europeLines visually-hidden"
      src="./images/europe/arc_germany_north-america_medium.png"
      alt="arc_germany_north-america_medium"
    />
    <img
      class="germanyNorthS europeLines visually-hidden"
      src="./images/europe/arc_germany_north-america_small.png"
      alt="arc_germany_north-america_small"
    />
    <img
      class="germanyOceaniaL europeLines visually-hidden"
      src="./images/europe/arc_germany_oceania_large.png"
      alt="arc_germany_oceania_large"
    />
    <img
      class="germanyOceaniaM europeLines visually-hidden"
      src="./images/europe/arc_germany_oceania_medium.png"
      alt="arc_germany_oceania_medium"
    />
    <img
      class="germanyOceaniaS europeLines visually-hidden"
      src="./images/europe/arc_germany_oceania_small.png"
      alt="arc_germany_oceania_small"
    />
    <img
      class="germanySouthL europeLines visually-hidden"
      src="./images/europe/arc_germany_south-america_large.png"
      alt="arc_germany_south-america_large"
    />
    <img
      class="germanySouthM europeLines visually-hidden"
      src="./images/europe/arc_germany_south-america_medium.png"
      alt="arc_germany_south-america_medium"
    />
    <img
      class="germanySouthS europeLines visually-hidden"
      src="./images/europe/arc_germany_south-america_small.png"
      alt="arc_germany_south-america_small"
    />

    <!-- --------------------------------------------------- -->

    <!-- ---------------------- Asia ----------------------- -->

    <ul class="list asia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small as-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium as-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large as-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="asSmallMask small_mask"></div>
    <div class="asMediumMask medium_mask"></div>
    <div class="asLargeMask large_mask"></div>

    <p class="as_info info_time visually-hidden"></p>

    <div class="asia_circle circle visually-hidden">
      <div class="circle_empty" data-value="as"></div>
      <img
        class="asia_blue blue_server visually-hidden"
        src="./images/server.webp"
        alt="server"
      />
      <img
        class="asia_red red_server visually-hidden"
        src="./images/server_ByteCloud.webp"
        alt="server"
      />
    </div>

    <img
      class="singaporeAsiaL asiaLines visually-hidden"
      src="./images/asia/arc_singapore_asia_large.png"
      alt="arc_singapore_asia_large"
    />
    <img
      class="singaporeAsiaM asiaLines visually-hidden"
      src="./images/asia/arc_singapore_asia_medium.png"
      alt="arc_singapore_asia_medium"
    />
    <img
      class="singaporeAsiaS asiaLines visually-hidden"
      src="./images/asia/arc_singapore_asia_small.png"
      alt="arc_singapore_asia_small"
    />
    <img
      class="singaporeEuropeL asiaLines visually-hidden"
      src="./images/asia/arc_singapore_europe_large.png"
      alt="arc_singapore_europe_large"
    />
    <img
      class="singaporeEuropeM asiaLines visually-hidden"
      src="./images/asia/arc_singapore_europe_medium.png"
      alt="arc_singapore_europe_medium"
    />
    <img
      class="singaporeEuropeS asiaLines visually-hidden"
      src="./images/asia/arc_singapore_europe_small.png"
      alt="arc_singapore_europe_small"
    />
    <img
      class="singaporeNorthL asiaLines visually-hidden"
      src="./images/asia/arc_singapore_north-america_large.png"
      alt="arc_singapore_north-america_large"
    />
    <img
      class="singaporeNorthM asiaLines visually-hidden"
      src="./images/asia/arc_singapore_north-america_medium.png"
      alt="arc_singapore_north-america_medium"
    />
    <img
      class="singaporeNorthS asiaLines visually-hidden"
      src="./images/asia/arc_singapore_north-america_small.png"
      alt="arc_singapore_north-america_small"
    />
    <img
      class="singaporeOceaniaL asiaLines visually-hidden"
      src="./images/asia/arc_singapore_oceania_large.png"
      alt="arc_singapore_oceania_large"
    />
    <img
      class="singaporeOceaniaM asiaLines visually-hidden"
      src="./images/asia/arc_singapore_oceania_medium.png"
      alt="arc_singapore_oceania_medium"
    />
    <img
      class="singaporeOceaniaS asiaLines visually-hidden"
      src="./images/asia/arc_singapore_oceania_small.png"
      alt="arc_singapore_oceania_small"
    />
    <img
      class="singaporeSouthL asiaLines visually-hidden"
      src="./images/asia/arc_singapore_south-america_large.png"
      alt="arc_singapore_south-america_large"
    />
    <img
      class="singaporeSouthM asiaLines visually-hidden"
      src="./images/asia/arc_singapore_south-america_medium.png"
      alt="arc_singapore_south-america_medium"
    />
    <img
      class="singaporeSouthS asiaLines visually-hidden"
      src="./images/asia/arc_singapore_south-america_small.png"
      alt="arc_singapore_south-america_small"
    />

    <!-- --------------------------------------------------- -->

    <!-- -------------------- Australia -------------------- -->

    <ul class="list australia">
      <li class="third-man man" value="3"></li>
      <li class="second-man man" value="2"></li>
      <li class="first-man man" value="1"></li>
    </ul>

    <img
      class="small au-small visually-hidden"
      src="./images/small.webp"
      alt="small"
    />
    <img
      class="medium au-medium visually-hidden"
      src="./images/medium.webp"
      alt="medium"
    />
    <img
      class="large au-large visually-hidden"
      src="./images/large.webp"
      alt="large"
    />

    <div class="auSmallMask small_mask"></div>
    <div class="auMediumMask medium_mask"></div>
    <div class="auLargeMask large_mask"></div>

    <p class="au_info info_time visually-hidden"></p>

    <!-- --------------------------------------------------- -->
  </div>
</section>
