.map {
  .container {
    position: relative;
  }

  .list {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.man {
  background-image: url(../images/man_empty.webp);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:not(:last-child) {
    margin-left: 3px;
  }

  &:nth-child(1):hover,
  &:nth-child(1):hover ~ .man {
    background-image: url(../images/man_filled.webp);
  }

  &:nth-child(2):hover,
  &:nth-child(2):hover ~ .man {
    background-image: url(../images/man_filled.webp);
  }

  &:nth-child(3):hover {
    background-image: url(../images/man_filled.webp);
  }
}

.first-man {
  display: block;
  width: 10.5px;
  height: 25px;
}

.second-man {
  display: block;
  width: 15px;
  height: 36px;
}

.third-man {
  display: block;
  width: 20px;
  height: 48px;
}

.north-america {
  position: absolute;
  top: 300px;
  left: 275px;
}

.south-america {
  position: absolute;
  top: 500px;
  left: 400px;
}

.europe {
  position: absolute;
  top: 260px;
  left: 680px;
}

.asia {
  position: absolute;
  top: 350px;
  right: 220px;
}

.australia {
  position: absolute;
  bottom: 130px;
  right: 120px;
}

.small {
  position: absolute;
  width: 40px;
  z-index: 1;
}

.medium {
  position: absolute;
  width: 40px;
  z-index: 1;
}

.large {
  position: absolute;
  width: 40px;
  z-index: 1;
}

.na-small {
  top: 290px;
  left: 330px;
}

.na-medium {
  top: 320px;
  left: 270px;
}

.na-large {
  top: 300px;
  left: 222px;
}

.sa-small {
  top: 515px;
  left: 445px;
}

.sa-medium {
  top: 570px;
  left: 410px;
}

.sa-large {
  top: 480px;
  left: 375px;
}

.eu-small {
  top: 270px;
  left: 690px;
}

.eu-medium {
  top: 310px;
  left: 595px;
}

.eu-large {
  top: 250px;
  left: 760px;
}

.as-small {
  top: 365px;
  right: 200px;
}

.as-medium {
  top: 390px;
  right: 315px;
}

.as-large {
  top: 300px;
  right: 155px;
}

.au-small {
  bottom: 120px;
  right: 80px;
}

.au-medium {
  bottom: 120px;
  right: 175px;
}

.au-large {
  bottom: 125px;
  right: 130px;
}

.text_top {
  position: absolute;
  top: 15px;
  z-index: 2;
}

.next_step {
  position: absolute;
  top: 15px;
  left: 452px;
  color: rgb(18, 93, 231);
  cursor: pointer;
}

.start_test {
  left: 498px;

  &.disabled {
    cursor: default;
    color: rgb(174, 199, 245);
  }
}

.start_again {
  left: 150px;
  z-index: 2;
}

.circle_empty {
  background-image: url(../images/circle_empty.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  width: 30px;
  height: 30px;

  &:hover {
    background-image: url(../images/circle_filled.png);
  }
}

.na-first_circle {
  position: absolute;
  top: 326px;
  left: 186px;
}

.na-second_circle {
  position: absolute;
  top: 300px;
  left: 390px;
}

.europe_circle {
  position: absolute;
  top: 280px;
  left: 640px;
}

.asia_circle {
  position: absolute;
  top: 485px;
  right: 220px;
}

.blue_server {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 50px;
  z-index: 1;
}

.red_server {
  position: relative;
  top: -15px;
  width: 50px;
  z-index: 1;
}

.info_time {
  position: absolute;
  background-color: rgb(194, 250, 250);
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.na_info {
  top: 265px;
  left: 237px;
}

.sa_info {
  top: 530px;
  left: 333px;
}

.eu_info {
  top: 214px;
  left: 665px;
}

.as_info {
  top: 328px;
  right: 241px;
}

.au_info {
  bottom: 92px;
  right: 90px;
}

.firstNALines {
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 0;
}

.secondNALines {
  position: absolute;
  top: 3px;
  left: 15px;
}

.europeLines {
  position: absolute;
  top: 0;
  left: 20px;
}

.asiaLines {
  position: absolute;
  top: 5px;
  right: -66px;
}

.small_mask {
  position: absolute;
  height: 20px;
  background-color: rgb(0, 84, 209);
  border-radius: 2px;
  z-index: 2;
}

.medium_mask {
  position: absolute;
  height: 28px;
  background-color: rgb(0, 84, 209);
  border-radius: 2px;
  z-index: 2;
}

.large_mask {
  position: absolute;
  height: 9px;
  background-color: rgb(0, 84, 209);
  border-radius: 2px;
  z-index: 2;
}

.auSmallMask {
  bottom: 131px;
  left: 1114.1px;
}
.auMediumMask {
  bottom: 126px;
  left: 1025px;
}
.auLargeMask {
  bottom: 145px;
  left: 1074px;
}

.asSmallMask {
  top: 374px;
  left: 994.9px;
}
.asMediumMask {
  top: 396px;
  left: 885px;
}
.asLargeMask {
  top: 311px;
  left: 1049px;
}

.euSmallMask {
  top: 278px;
  left: 694.9px;
}
.euMediumMask {
  top: 316px;
  left: 605px;
}
.euLargeMask {
  top: 261px;
  left: 774px;
}

.naSmallMask {
  top: 298px;
  left: 334.8px;
}
.naMediumMask {
  top: 326px;
  left: 280px;
}
.naLargeMask {
  top: 311px;
  left: 236px;
}

.saSmallMask {
  top: 523px;
  left: 449.5px;
}
.saMediumMask {
  top: 576px;
  left: 420px;
}
.saLargeMask {
  top: 491px;
  left: 389px;
}

@keyframes changeSmallMaskWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 31.3px;
  }
}

@keyframes changeMediumMaskWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 20px;
  }
}

@keyframes changeLargeMaskWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 13px;
  }
}
